<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	<connectionStrings>
		<add name="myConnectionString" connectionString="Data Source=DESKTOP-4PT9ETJ\SQLEXPRESS;Initial Catalog=Aviatur;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>